@model UserManagement.Contracts.DTOS.UserDto
@{
    ViewData["Title"]="Add Page";
}

<div class="text-center">
    <h1 class="display-4">Add User</h1>
</div>

<form asp-action="SubmitForm">

    <input type="hidden" asp-for="Id" value="@(Model?.Id == 0 ? 0 : Model!.Id)" />
     <div>
        <label class="mt-4" asp-for="Forename"></label>
        <input class="form-control" asp-for="Forename" />
        <span class="text-danger" asp-validation-for="Forename"></span>
    </div>

    <div>
        <label class="mt-4" asp-for="Surname"></label>
        <input class="form-control" asp-for="Surname" />
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>

    <div>
        <label class="mt-4" asp-for="DateOfBirth"></label>
        <input class="form-control" asp-for="DateOfBirth" type="date" />
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
    </div>

    <div>
        <label class="mt-4" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-check mt-4">
        <input class="form-check-input" asp-for="IsActive" />
        <label class="form-check-label" asp-for="IsActive"></label>
    </div>

    <button class="btn btn-primary mt-4" type="submit">Submit</button>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}