@page "/"

<div>
    <PageTitle>Home</PageTitle>

    <h1>Hello, Inflo!</h1>

    Welcome to your new app.

    <div>
     <a type="button" class="btn btn-primary"href="@($"/userList")">User List</a>
    </div>

</div>


